.welcome-container{
	width: 600px;
	height: 100px;
	background-color: #B7B7B7;
	border: 1px solid #B7B7B7;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-direction: column;
	margin-bottom: 100px;
	padding: 100px;
	font-size: 30px;
}
.welcome-tips{
	color: #0138FF;
	font-weight: bolder;
	text-shadow: 2px 2px 2px #0000006a;
	font-size: 35px;
}
.company{
	text-shadow: 2px 2px 2px #0000006a;
	font-size: 35px;
}

.content{
	width: 100vw;
	background: linear-gradient(#424153,#F4F4F5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}	