.welcome-container{
	width: 600px;
	height: 100px;
	background-color: #B7B7B7;
	border: 1px solid #B7B7B7;
	border-radius: 15px;
	/* display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-direction: column; */
	margin-bottom: 100px;
	padding: 100px;
	font-size: 30px;
}
.welcome-tips{
	color: #0138FF;
	font-weight: bolder;
	text-shadow: 2px 2px 2px #0000006a;
	font-size: 35px;
}
.company{
	text-shadow: 2px 2px 2px #0000006a;
	font-size: 35px;
}

.content{
	width: 100vw;
	background: linear-gradient(#424153,#F4F4F5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.blink{
	border: 10px #ff0000 solid;
	animation: blink 1s;
	animation-iteration-count:infinite;
}	
@keyframes blink { 50% { border-color:#fff ; }  }

.cam-container{
	display: flex;
	justify-content: center;
	align-items:flex-start;
	/* flex-direction: column; */
	color: #ffffff;
}
.revert{
	border-radius: 15px;
}
.elder-name{
	color: #000000;
}
.close-alert{
	width: 100px;
	height: 50px;
	border-radius: 10px;
	background-color: #272E33;
	color: #ffffff;
	font-size: 15px;
}
#startbtn{
	background-color: #272E33;
	color: #ffffff;
	width: 400px;
	height: 250px;
	border-radius: 15px;
	font-size: 60px;
}
