/* ----- Register and Sign In Form ----- */
h3 {
	text-align: center;
}
.tabs-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
}

.tabs {
	/* border: 1px solid #dddddd; */
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	max-width: 400px;
	font-family: sans-serif;
	width: 400px;
	height: 300px;
	justify-content: center;
	align-items: center;
	padding: 10px 100px;
}

.tabs__label {
	padding: 10px 16px;
	cursor: pointer;
}

.tabs__radio {
	display: none;
}

.tabs__content {
	order: 1;
	width: 100%;
	line-height: 1.5;
	font-size: 0.9em;
	display: none;
}

.tabs__radio:checked + .tabs__label {
	font-weight: bold;
	color: #272E33;
	border-bottom: 2px solid #272E33;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
	display: initial;
}

.btn-login {
	border: 2px solid #272E33;
	background-color: #272E33;
	color: white;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #435d8a;
	--bs-btn-hover-border-color: #435d8a;
	width: 180px;
}
.btn-register {
	border: 2px solid #272E33;
	background-color: #272E33;
	color: white;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #435d8a;
	--bs-btn-hover-border-color: #435d8a;
	width: 180px;
}

.btn-success {
	--bs-btn-color: #fff;
	--bs-btn-bg: #272E33;
	--bs-btn-border-color: #272E33;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #435d8a;
	--bs-btn-hover-border-color: #435d8a;
	margin-left: 13px;
	width: 180px;
}